Cache/*
Data/*
Logs/*
Interface/Addons/Blizzard_*
Update/*
Errors/*
Utils/*
Screenshots/*
*.exe
*.dll
*.*fil
*.db
*cache*
*.mpq
*.manifest
*CUFProfiles.txt
*Blizzard_CombatLog.lua
*.info
*.curseclient
*.patch.result
